*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:aqua ;
    background-image: url("../images/canvas.jpeg"); 
}
h1{
    font-family: monospace;
    color: black;
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}
h4{
    font-family: monospace;
    color: black;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.header{
    text-align:center;
}
.header img{
    height: 60px;
    width: 60px;
    margin-top: 5px;


}
.image-container {
    display: block;
    flex-wrap: wrap;
    position: relative;
    
    
}
.container {
    display: block;
    flex: none;
    position: relative;
    
    
}
.column img{
    gap:10px;
    object-fit: cover;    
    width: 100%;
}
.column{
    flex: 1;
    padding: 5px;
  
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    /* gap: 10px; */
    object-fit: cover;
    border-radius: 10px
}
.column img:hover{
    cursor: pointer;

}
@media screen and (max-width: 900px) {
    .column{
        /* flex: 50%; */
        min-width: 50%;
    }  
}
@media screen and (max-width: 500px) {
    .column{
        /* flex: 100%; */
        min-width:100%;
        
    }
    .row{
        flex-direction: column;
    }
}
