body{
    background-color:aqua ;
    background-image: url("../images/canvas.jpeg"); 
}
h1{
    font-family: monospace;
    color: black;
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}
h4{
    font-family: monospace;
    color: black;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.header{
    text-align:center;
}
.header img{
    height: 60px;
    width: 60px;


}
.container {
    display: block;
    flex: none;
    position: relative;
    
    
}
.column img{
    margin-top: 15px;
    margin-left: 200px;
    width: 250px;
    height: auto;
    position: relative;
    padding: 1px;
    margin-bottom: 5px;
    
    
}
.column{
    max-width: 25%;
    float: left;
    display: block;
    position: relative;
    width: auto;
  
}
.row{
    width: 70%;
}
.column img:hover{
    cursor: pointer;

}
