body{
    background-color:rgb(255, 255, 255) ;
    background-image: url("../images/canvas.jpeg"); 
}
h1{
    font-family: monospace;
    color: black;
    font-size: 30px;
}
h4{
    font-family: monospace;
    color: black;
    font-size: 20px;
}
.header{
    text-align: center;
}
.container {
    display: block;
    justify-content: center;
    
}
.column img{
    margin-top: 1px;
    margin-right: 1px;
    width: 250px;
    height: auto;
    position: relative;
    padding: 1px;
    margin-bottom: 10px;
    
    
}
.column{
    max-width: 25%;
    padding: 5px;
    float: left;
    width: 33.33%;
  
}
